*-hide

*/target
.metadata/
*.class
gensrc/

jirafeextension/platformhome.properties

jirafeextension/hmc/bin/jirafeextensionhmc.jar

jirafeextension/hmc/resources/hmc.xsd

jirafeextension/hmc/bin/jirafeextensionhmc.jar

jirafeextension/.DS_Store

.DS_Store

*-testclasses.xml

bin/
